/* layout */
html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 1440px;   
    font-family: "Inter";
    padding: 2% 8%;
    cursor: default;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
}

header nav a{
    width: 50%;
    margin-left: 40px;
}
.center-focus-items{
    display: flex;
    column-gap: 1%;
}

.center-focus-items section{
    padding-right: 2%;
}

.main-story-description{
    display: flex;
    justify-content: space-between;
}

.main-story-description div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-focus-items aside{
    padding: 0 2%;
}

hr {
    margin: 16% 0;
}

.preview-stories{
    margin-top: 4%;
    display: flex;
    column-gap: 10%;
}

.preview-story-card{
    display: flex;
}

.preview-story-card div{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
/* styling */

.dark-background{
    background-color: hsl(240, 100%, 5%);
}

/* images */
@font-face {
    font-family: "Inter";
    src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

.center-focus-items img{
    width: 100%;
}

.preview-story-card img{
    width: 30%;
}

/* button */
button{
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 4% 12%;
    width: 50%;
    cursor: pointer;
}

/* typography */
body p{
    font-size: 15px;
    color: hsl(233, 8%, 55%);
}

header a{
    text-decoration: none;
    color: hsl(233, 8%, 55%);
}

header a:hover{
    color: hsl(35, 77%, 62%);
}

.main-story-description h1{
    font-weight: 800;
    font-size: 48px;
    margin-top: 1%;
    width: 40%;
}

.center-focus-items h2{
    color: hsl(35, 77%, 62%);
    font-size: 48px;
}

.center-focus-items aside h3{
    color: hsl(36, 100%, 99%);
}

.center-focus-items aside h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

.main-story-description p{
    line-height: 200%;
}

.preview-story-card span{
    color: hsl(233, 8%, 70%);
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 2px;
}

.preview-story-card span:hover{
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 3%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
